.attribute-label {
    text-transform: uppercase;
}

.expertise-label {
    text-transform: capitalize;
}

.npc .expertises .expertise {
    border: 1px grey solid;
}

.focus-separator {
    padding: 4px 2px;
    text-align: right;
}

.prosemirror .editor-container {
    margin: 0;
    background: white;
    border: 1px gray solid;
    border-radius: 6px;
}
.prosemirror .editor-container .editor-content {
    position: relative;
}